<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum</title>
  </head>
  <link rel="stylesheet" href="../../vendor//bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="../../vendor/css/forum/forum.css" />
  <body>
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">DotNet Corner Platform</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Radio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">problems</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
        </ul>
      </div>
    </nav>
  </body>
  <section class="main">
    <div class="container">
      <h1 class="title">Forum Problems and Coding questions</h1>
      <hr />
      <div class="row">
        <div class="col-md-8">
          <div class="discussions">
            <h3>Top Desicussions:</h3>
            <div class="problem">
              <h5>i had an issue with android studio</h5>
              <p class="text-secondary">i cant insatall .....</p>
              <div class="problem-info">
                <a href="#">Answres</a>
                <span class="tag">Android Studio</span>
                <span class="tag">Kotlin</span>
                <span class="user">
                  <img
                    src="../../images/1587383161048-face-facial-hair-fine-looking-guy-614810.jpg"
                    width="30px"
                  />
                  Mohammed Omer
                </span>
              </div>
            </div>
            <hr />
            <div class="problem">
              <h5>i had an issue with android studio</h5>
              <p class="text-secondary">i cant insatall .....</p>
              <div class="problem-info">
                <a href="#">Answres</a>
                <span class="tag">Android Studio</span>
                <span class="tag">Kotlin</span>
                <span class="user">
                  <img
                    src="../../images/1587383161048-face-facial-hair-fine-looking-guy-614810.jpg"
                    width="30px"
                  />
                  Mohammed Omer
                </span>
              </div>
            </div>
            <hr />
            <div class="problem">
              <h5>i had an issue with android studio</h5>
              <p class="text-secondary">i cant insatall .....</p>
              <div class="problem-info">
                <a href="#">Answres</a>
                <span class="tag">Android Studio</span>
                <span class="tag">Kotlin</span>
                <span class="user">
                  <img
                    src="../../images/1587383161048-face-facial-hair-fine-looking-guy-614810.jpg"
                    width="30px"
                  />
                  Mohammed Omer
                </span>
              </div>
            </div>
            <hr />
            <div class="problem">
              <h5>i had an issue with android studio</h5>
              <p class="text-secondary">i cant insatall .....</p>
              <div class="problem-info">
                <a href="#">Answres</a>
                <span class="tag">Android Studio</span>
                <span class="tag">Kotlin</span>
                <span class="user">
                  <img
                    src="../../images/1587383161048-face-facial-hair-fine-looking-guy-614810.jpg"
                    width="30px"
                  />
                  Mohammed Omer
                </span>
              </div>
            </div>
            <hr />
          </div>
        </div>
        <div class="col-md-4">
          <div class="categories">
            <form class="search">
              <input
                type="search"
                class="form-control"
                placeholder="search catigory"
              />
              <button class="btn btn-primary">Search</button>
            </form>
            <ul class="category-list">
              <li class="category">Python</li>
              <li class="category">Node Js</li>
              <li class="category">Java</li>
              <li class="category">Flutter</li>
              <li class="category">Soft Skills</li>
              <li class="category">Web Development</li>
              <li class="category">Algorithms</li>
              <li class="category">Ruby</li>
              <li class="category">c#</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      All rights &copy; to .net corner group
    </div>
  </footer>
</html>
