<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wellcome to our website</title>
    <link rel="stylesheet" href="../../vendor//bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../../vendor//css/index.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">DotNet Corner Platform</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Radio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">problems</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
        </ul>
      </div>
    </nav>
    <section class="main">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="main-text">
              <h2>Join Our Community..</h2>
              <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                fugiat voluptatibus vitae animi error quod obcaecati id non
                inventore iste eligendi sapiente impedit itaque atque, quis
                amet! Sed pariatur explicabo possimus doloremque beatae
                consectetur earum ipsum illum temporibus, aperiam nesciunt
                molestiae nisi natus quam labore quae eveniet asperiores debitis
                molestiae nisi natus quam labore quae eveniet asperiores debitis
              </p>
              ,<button class="btn btn-dark">Join Now</button>
            </div>
          </div>
          <div class="col-md-6">
            <img src="../../images/undraw_programming_2svr.png" />
          </div>
        </div>
      </div>
    </section>
    <section class="platform-sections">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="section">
              <h4>Radio</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto, blanditiis?
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="section">
              <h4>Forum</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto, blanditiis?
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="section">
              <h4>Blog</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto, blanditiis?
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        All rights &copy; to .net corner group
      </div>
    </footer>
  </body>
</html>
