<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Articles</title>
    <link rel="stylesheet" href="../../vendor//bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../../vendor/css/blog/blog.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">DotNet Corner Platform</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Radio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">problems</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
        </ul>
      </div>
    </nav>
    <section class="all-articles">
      <div class="container">
        <div class="search"> 
            <h2>Search Our Articles</h2>
          <form>
            <input
              type="search"
              class="form-control"
              placeholder="Seatch Articles"
            />
            <button class="btn btn-primary">Search</button>
          </form>
        </div> 
        <hr>
          <div class="articles">
            <div class="row">
              <div class="col-md-4">
                <div class="one-article">
                  <img
                    src="../../images/oskar-yildiz-gy08FXeM2L4-unsplash.jpg"
                  />
                  
                  <h5>article title</h5>
                  
                  <p>Lorem ipsum dolor sit Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, eius!.</p>
                  <small class="text-secondary">| created at 17/4/2020</small>
                  <a href="#">Read >>></a>

                </div> 
              </div>
              <div class="col-md-4">
                <div class="one-article">
                  <img
                    src="../../images/oskar-yildiz-gy08FXeM2L4-unsplash.jpg"
                  />
                  <h5>article title</h5>
                  <p>Lorem ipsum dolor sit Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, eius!.</p>
                  <small class="text-secondary">| created at 17/4/2020</small>
                  <a href="#">Read >>></a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="one-article">
                  <img
                    src="../../images/oskar-yildiz-gy08FXeM2L4-unsplash.jpg"
                  />
                  <h5>article title</h5>
                  <p>Lorem ipsum dolor sit Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, eius!.</p>
                  <small class="text-secondary">| created at 17/4/2020</small>
                  <a href="#">Read >>></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> 
    <footer>
      <div class="container">
        All rights &copy; to .net corner group
      </div>
    </footer>
  </body>
</html>
