<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Article</title>
    <link rel="stylesheet" href="../../vendor//bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../../vendor/css/blog/article.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">DotNet Corner Platform</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Radio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">problems</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
        </ul>
      </div>
    </nav>
    <section class="main">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <article class="article">
              <h1>How The Web Works ?</h1>
              <p class="article-info lead">
                written by: Lorem, ipsum. | created at 12/4/2020
              </p>
              <img src="../../images/undraw_walk_in_the_city_1ma6.png" />
              <p class="body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
                maiores, voluptatum beatae voluptas esse placeat. Nemo nisi iure
                quis debitis, nulla quo placeat libero, perspiciatis cupiditate
                itaque odit explicabo. Error iste exercitationem sed nisi
                pariatur quisquam placeat animi unde accusantium minima?
                Temporibus hic nobis quam impedit explicabo magni, saepe dolor
                repudiandae, pariatur non voluptas magnam, reprehenderit amet
                veritatis recusandae. Non molestiae fuga, mollitia a libero
                omnis officia quos animi laudantium modi sequi itaque asperiores
                suscipit cum, eaque quia laborum quas reprehenderit eligendi
                distinctio reiciendis inventore ut quasi cumque. Inventore
                adipisci labore ut aspernatur autem qui enim libero quia est
                dolor doloremque necessitatibus, vitae nulla culpa? Ad odit
                laborum non dignissimos ipsum quidem, doloremque voluptatem
                ducimus rerum, voluptatum corporis quis optio incidunt
                perspiciatis? Est architecto assumenda commodi soluta suscipit
                minus enim, repellendus natus dolor ut possimus nostrum fugiat
                fuga tenetur laborum modi id! Harum beatae fuga dolorum, quas
                nihil earum aut numquam sit sed, illo voluptates, ipsum fugit
                natus nemo voluptatum. Consectetur sint quia iusto reprehenderit
                ducimus! Recusandae, quidem, earum atque possimus alias sunt
                iste, fugit repellendus modi cupiditate ea eos nulla inventore
                dolor? Quae, ducimus id. Quidem ullam pariatur quasi, inventore
                deserunt voluptatibus et ab facilis alias in eius cum. Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Minima
                maiores, voluptatum beatae voluptas esse placeat. Nemo nisi iure
                quis debitis, nulla quo placeat libero, perspiciatis cupiditate
                itaque odit explicabo. Error iste exercitationem sed nisi
                pariatur quisquam placeat animi unde accusantium minima?
                Temporibus hic nobis quam impedit explicabo magni, saepe dolor
                repudiandae, pariatur non voluptas magnam, reprehenderit amet
                veritatis recusandae. Non molestiae fuga, mollitia a libero
                omnis officia quos animi laudantium modi sequi itaque asperiores
                suscipit cum, eaque quia laborum quas reprehenderit eligendi
                distinctio reiciendis inventore ut quasi cumque. Inventore
                adipisci labore ut aspernatur autem qui enim libero quia est
                dolor doloremque necessitatibus, vitae nulla culpa? Ad odit
                laborum non dignissimos ipsum quidem, doloremque voluptatem
                ducimus rerum, voluptatum corporis quis optio incidunt
                perspiciatis? Est architecto assumenda commodi soluta suscipit
                minus enim, repellendus natus dolor ut possimus nostrum fugiat
                fuga tenetur laborum modi id! Harum beatae fuga dolorum, quas
                nihil earum aut numquam sit sed, illo voluptates, ipsum fugit
                natus nemo voluptatum. Consectetur sint quia iusto reprehenderit
                ducimus! Recusandae, quidem, earum atque possimus alias sunt
                iste, fugit repellendus modi cupiditate ea eos nulla inventore
                dolor? Quae, ducimus id. Quidem ullam pariatur quasi, inventore
                deserunt voluptatibus et ab facilis alias in eius cum.
              </p>
            </article>
            <section class="comments">
              <h3>Comments</h3>
              <div class="comment">
                <span class="user">
                  <img
                    src="../../images/1587383161048-face-facial-hair-fine-looking-guy-614810.jpg"
                    width="30px"
                  />
                  Mohammed Omer
                </span>
                <p class="lead comment-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab,
                  nulla!
                </p>

                <div class="interactions">
                  23 likes
                </div>
                <hr />
              </div>
              <div class="comment">
                <span class="user">
                  <img
                    src="../../images/1587383161048-face-facial-hair-fine-looking-guy-614810.jpg"
                    width="30px"
                  />
                  Mohammed Omer
                </span>
                <p class="lead comment-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab,
                  nulla!
                </p>

                <div class="interactions">
                  23 likes
                </div>
                <hr />
              </div>
            </section>
            <section class="comments-form">
              <form>
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" />
                </div>
                <div class="form-group">
                  <label for="comment-body">Type your comment</label>
                  <textarea class="form-control"> </textarea>
                </div>
                <button class="btn btn-primary">Add Comment</button>
              </form>
            </section>
          </div>
          <div class="col-md-4 column">
            <aside>
              Useable Space ..
            </aside>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        All rights &copy; to .net corner group
      </div>
    </footer>
  </body>
</html>
