<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Streams</title>
    <link rel="stylesheet" href="../../vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../../vendor/css/radio/streams.css" />
  </head>
  <body>
    <section class="stream">
      <h1>Streaming now Click the link below</h1>
      <a href="#" class="btn btn-primary">listen now</a>
    </section>
  </body>
</html>
